@{
    ViewData["Title"] = "Home Page";
}


<div class="page-content header-clear-small">
    <div class="search-page">
        <div class="search-box search-header bg-theme card-style me-3 ms-3">
            <i class="fa fa-search"></i>
            <input type="text" class="border-0" placeholder="What are you looking for? " data-search>
            <a href="#" class="clear-search disabled mt-0"><i class="fa fa-times color-red-dark"></i></a>
        </div>

        <div class="search-trending card card-style">
            <div class="content mb-2">
                <h3>Trending Searches</h3>
                <p class="font-11 mt-n2">What others are Searching for.</p>
            </div>
            <div class="list-group list-custom-small me-3 ms-3">
                <a href="#">
                    <span class="font-400 color-blue-dark">All Products</span>
                    <i class="color-gray-dark fa fa-angle-right"></i>
                </a>
                <a href="#">
                    <span class="font-400 color-blue-dark">Eazy Mobile</span>
                    <i class="color-gray-dark fa fa-angle-right"></i>
                </a>
                <a href="#">
                    <span class="font-400 color-blue-dark">Mega Mobile</span>
                    <i class="color-gray-dark fa fa-angle-right"></i>
                </a>
                <a href="#">
                    <span class="font-400 color-blue-dark">Ultra Mobile</span>
                    <i class="color-gray-dark fa fa-angle-right"></i>
                </a>
                <a href="#">
                    <span class="font-400 color-blue-dark">Kolor Mobile</span>
                    <i class="color-gray-dark fa fa-angle-right"></i>
                </a>
                <a href="#" class="border-0">
                    <span class="font-400 color-blue-dark">Vinga Mobile</span>
                    <i class="color-gray-dark fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>